$color-theme: #44acb6;
$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #EB9E05;
$color-danger: #FA5555;
$color-info: #878D99;
$color-price: #f32b2b;
$color-prompt: #FDF6C3;

$font-color-primary: #2D2F33;
$font-color-common: #5A5E66;
$font-color-secondary: #878D99;
$font-color-place-holder: #B4BCCC;
$font-color-input: #606266;
$font-color-title: #242424;
$font-color-desc: #767676;

$border-color-level1: #D8DCE5;
$border-color-level2: #DFE4ED;
$border-color-level3: #E6EBF5;
$border-color-level4: #EDF2FC;

$font-size-title-large: 20px;
$font-size-title: 18px;
$font-size-title-small: 16px;
$font-size-content: 14px;
$font-size-content-small: 13px;
$font-size-desc: 12px;
$font-size-small: 11px;

$dialog-common-width: 400px;

$side-width: 160px;
$header-height: 60px;

$bottom-height: 56px;

$home-color-bg: #f5f5f5;
$home-color-button: #EA2554;
$home-color-price: #F32B2B;
$home-color-tag: #B65ED3;
$home-color-title: #242424;
$home-color-desc: #767676;

$home-size-price-big: 22px;
$home-size-price: 22px;
$home-size-price-small: 16px;
$home-size-title: 14px;
$home-size-title-small: 13px;
$home-size-more: 12px;
$home-size-desc: 11px;

$tmpl-scale: 0.48
